<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link rel="shortcut icon" href="{{ STATIC_URL }}image/favicon.ico" type="image/x-icon">
		<link rel='stylesheet' id='ssbaFont-css'  href='//fonts.googleapis.com/css?family=Reenie+Beanie&#038;ver=3.9.1' type='text/css' media='all' />
		<link rel='stylesheet' id='google_fonts-css'  href='http://fonts.googleapis.com/css?family=Lato&#038;ver=3.9.1' type='text/css' media='all' />
		<link href="{{ STATIC_URL }}style-collab.css" rel="stylesheet" type="text/css">
		
		<title>{{ page_title }}</title>
	</head>
	
	<body>
	<div id="page">
		<div id="primary">
			<!<div id="content" class="clearfix">
		<h2>{{ page_title }} for the database selected: {{ db_title }}</h2>

		<table>
		{% for query in all_queries %}
			<tr><p><td>{{ query.title }}</td>
				<td><a href="{% url 'process_csv' db_title query.id %}">  Download CSV </a></td>
				<td><a href="{% url 'process_vis' db_title query.id %}">  Visualize results </a></td></p></tr>
		{% endfor %}
		</table>

	</body>
</html>
